.container-title {
  /* background-color: black; */
  margin-bottom: 10px;
  height: 50px;
  border-radius: 5px;
}
.list_title {
  margin-bottom: 40px;
  /* padding: 12px; */
  border-bottom: black solid 3px;
}
.list_title h2 {
  color: black;
  font-weight: 700;
  /* background-color: black;
    border-radius: 20px 3px 20px 3px; */
  /* margin: auto 15px auto 10px; */
}
.mr-bt-4 {
  margin-bottom: 40px;
}

.list-product-card {
  margin-top: 40px;
}
