*{
  padding: 0;
  margin: 0;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content:space-between;
}
.flexbox-nowrap {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}


.item {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0px 10px;
  margin-bottom: 20px;
}


.columns {
  column-count: 4;
  justify-content: space-around;
  column-rule: 0px solid #3366FF;
  align-content: space-between;
}
a{
  text-decoration: none !important ;
}