*{
  padding: 0;
  margin: 0;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Xếp các mục từ trái sang phải khi rớt xuống */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; 
  box-sizing: border-box;
}

.item {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.list_title{
  display: block;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 10px;
  border-bottom:solid 1px black;
}
.list_title h2{
  padding: 5px;
  color: azure;
  width: fit-content;
  background-color: black;
  border-radius: 20px 3px 20px 3px;
  border: solid 2px rgb(0, 97, 29);
}

.Categories-list{
  margin-bottom: 20px;
  margin-top: 20px;
}