*{
  padding: 0;
  margin: 0;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content:space-between;
}
.flexbox-nowrap {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}


.item {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.container-title{
  /* background-color: black; */
  margin-bottom: 10px;
  height: 50px;
  border-radius: 5px;
}
.list_title{
  margin-bottom: 40px;
  padding: 12px;
  border-bottom: black solid 3px;
}
.list_title h2{
  color: black;
  font-weight: 700;
  /* background-color: black;
  border-radius: 20px 3px 20px 3px; */
  margin: auto 15px auto 10px;
}
.mr-bt-4{
  margin-bottom: 40px;
}

.Categories-list{
  margin-top: 20px;
}
.columns {
  column-count: 4;
  justify-content: space-around;
  column-rule: 0px solid #3366FF;
  align-content: space-between;
}
.pagination button.back {
  background-color: #e74c3c; /* Màu đỏ */
}

.pagination button.back:hover {
  background-color: #c0392b; /* Màu đỏ tối khi hover */
}

/* CSS cho nút Next */
.pagination button.next {
  background-color: #27ae60; /* Màu xanh lá cây */
}

.pagination button.next:hover {
  background-color: #219653; /* Màu xanh lá cây tối khi hover */
}
/* ////////////////////////////////////////////////////////////////////// /////////////////////*/
